
.title{
	font-size: 16px;
	line-height: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
	height: 25px;
}
.title span{
	vertical-align: bottom;
	width:8px;	
	height: 26px;
	background-color: #00be06;
	display: inline-block;
	margin-right: 7px;
}
.yspList{
	padding-top: 0px;
}
.yspList .yspList-right{
	width:100%;
}
.yspList-right li{
	margin-right: 22px;
	width: 210px;
}
.yspList-right li:nth-child(4n){
	margin-right: 0px;
}

.yspList-right .imgBox{
	width: 208px;
	height: 120px;
	overflow: hidden;
}

.yspList-right .imgBox img{
	width: 208px;
	height: 120px;
	transition: all .4s;
	-moz-transition: all .4s;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	cursor: pointer;
}

.imgBox img:hover{
	transform: scale(1.2);
}

.ui-pagination-container {
	height: 34px;
	line-height: 34px;
}
.pageBox{
	text-align: center;
}
.ui-pagination-container .ui-pagination-page-item {
	font-size: 14px;
	padding: 4px 10px;
	background: #fff;
	border: 1px solid #c5b7b7;
	color: #888;
	margin: 0 3px;
	text-decoration: none;
}

.ui-pagination-container .ui-pagination-page-item:hover {
	border-color: #568dbd;
	color: #568dbd;
	text-decoration: none;
}

.ui-pagination-container .ui-pagination-page-item.active {
	background: #568dbd;
	border-color: #568dbd;
	color: #fff;
	cursor: default;
}