*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;word-wrap:break;word-break:break;color:#030000}
.demo{margin:50px auto 0 auto;width:400px;text-align:center;font-size:18px;}
.demo .btnb{color:#3366cc;text-decoration:none;font-family:"微软雅黑","宋体";}
.overlay{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1998;width:100%;height:100%;_padding:0 20px 0 0;background:#f6f4f5;display:none;}
.smalloverlay{position:fixed;top:0;right:0;bottom:0;left:0;z-index:998;width:200px;height:100px;_padding:0 20px 0 0;background:#f6f4f5;display:none;}
.showbox{position:fixed;top:0;left:35%;z-index:9999;opacity:0;filter:alpha(opacity=0);margin-left:-80px;}
.smallshowbox{z-index:9999;opacity:0;filter:alpha(opacity=0);}
*html,*html body{background-image:url(about:blank);background-attachment:fixed;}
#AjaxLoading{border:1px solid #8CBEDA;color:#37a;font-size:12px;font-weight:bold;}
#smallAjaxLoading{border:none;color:#37a;font-size:12px;font-weight:bold;}
#AjaxLoading div.loadingWord{width:180px;height:50px;line-height:50px;border:2px solid #D6E7F2;background:#fff;}
#smallAjaxLoading div.loadingWord{width:180px;height:50px;line-height:50px;border:none;background:#fff;}
#AjaxLoading img{margin:10px 15px;float:left;display:inline;}
#smallAjaxLoading img{margin:10px 15px;float:left;display:inline;}