/* 主题内容 */
.app {
    width: 100%;
    padding: 0px 0px;
}

.app::after {
    display: block;
    content: "";
    clear: both;
}
.font{
	color:red;
}
/* 树 */
.demoTree {
    width: 200px;
    height: 500px;
    float: left;
}

/* 标签页组件容器 */
.tab-component-container {
    width: calc(100% - 230px);
    margin-left: 20px;
    float: left;
}


/* 标签容器 */
.tab-container {
    width: 100%;
    height: 40px;
}

.tab-container::after {
    display: block;
    content: "";
    clear: both;
}

/* 标签 */
.tab-container .tab {
    float: left;
    background-color: #fff;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-left: none;
    font-size: 18px;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    height: 100%;
    line-height: 40px;
}

.tab-container .tab:hover {
    background-color: #eee;
}

.tab-container .tab:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.tab-container .tab:first-child {
    border-left: 1px solid #ccc;
}

/* 激活的标签 */
.tab-container .tab-active {
    border-bottom-color: #08c;
    background-color: #08c;
    color: white;
}

.tab-container .tab-active:hover {
    background-color: #07b;
}

/* 下拉菜单 */
.select-container {
    float: right;
}

.select-container .dropdown-menu {
    right: 0;
    left: auto;
}

.select-container .dropdown-item {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    background-color: #fff;
}

.select-container .dropdown-item:hover {
    background-color: #eee;
}

.select-container .dropdown-item:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

/* 面板容器 */
.tab-panel-container {
    border: 1px solid #ccc;
    margin-top: -1px;
    border-radius: 5px;
    border-top-left-radius: 0;
}

/* 面板 */
.tab-panel-container .tab-panel {
    padding: 20px 10px;
}

/* 面板中的表格 */
.tab-panel-container .tab-panel table {
    display: block;
    max-width: 100%;
    overflow-x: hidden;
    user-select: text !important;
}

.tab-panel-container .tab-panel table thead {
    display: inline-block;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.tab-panel-container .tab-panel table tbody {
    max-height: 500px;
    display: block;
    overflow-x: scroll;
    overflow-y: scroll;
    position: relative;
}

.tab-panel-container .tab-panel th {
    min-width: 200px;
    text-align: center;
    border-bottom: none !important;
}

.tab-panel-container .tab-panel td {
    min-width: 200px;
    max-width: 200px;
    text-align: center;
    word-wrap: break-word;
}

.tab-panel-container .tab-panel table tbody tr:first-child td {
    border-top: none;
}

/* 选择框 */
.tab-panel-container .tab-panel th:first-child {
    min-width: 100px;
    border-left: none;
}

.tab-panel-container .tab-panel td:first-child {
    min-width: 100px;
    border-left: none;
}

/* 选择框 */
/* 
.tab-panel-container .tab-panel th:last-child {
    min-width: 70px;
    border-right: none;
} */

/* .tab-panel-container .tab-panel td:last-child {
    min-width: 70px;
    border-right: none;
} */

.tab-panel-container .tab-panel table input[type="checkbox"] {
    cursor: pointer;
}

.tab-panel-container .tab-panel table .opreation {
    cursor: pointer;
    margin: 0 2px;
}

/**   档案管理-表格表头拖拽样式调整（暂时没有用到）
.grip{
    width:20px;
    height:30px;
    margin-top:-3px;
    background-image:url('../img/grip.png');
    margin-left:-5px;
    position:relative;
    z-index:88;
    cursor:e-resize;
}

.grip:hover{
    background-position-x:-20px;
}

.dragging .grip{
    background-position-x:-40px;
}

.sampleText{
    position:relative;
    width:100%;
}

.dotted{
    background-image:url('../img/dotted.png');
    background-repeat:repeat-y;
}
/**