/*应用导航模块*/

.navigation{
	font-size: 0;
	margin-right: -1px;
	padding-top: 2px;
}

.navigation li{
	display: inline-block;
	width: 167px;
	height: 81px;
	line-height: 81px;
	font-size: 16px;
	font-weight: bold;
	border-right: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
	cursor: pointer;
}
.navigation li:hover {
	box-shadow: 1px 1px 10px #ccc;
}
.navigation .imgBox{
	display: inline-block;
	width: 60px;
}

.navigation .imgBox img{
	width: 34px;
	margin-left: 20px;
}

.navigation li a{
	text-decoration: none;
	display: block;
	width:100%;
	height:100%;
	font-size: 14px;
	font-weight: 400;
}
