@charset "utf-8";
/* CSS Document */
*{	padding: 0px;	margin: 0px;}
body{	font-size: 12px;	line-height: 25px;	text-align:left;	font-family: "微软雅黑", yahei;	color:#404040; background:#ffffff;}
a{	text-decoration: none;  color:#404040;}
a:hover {	color: #000000;	text-decoration: underline;}
img {	border:0px; vertical-align:middle;}
li{	list-style-type:none;}
.clr{ clear:both;}
.fr{	float: right;}
.fl{	float: left;}
.red ,.red a{ color:#ff0000;}
.blue, .blue a{ color:#23739e;}
.white,.white a{ color:#FFF;}
.mt_20 { margin-top:20px;  }
.m_5 { margin:5px;  }
.m_10 { margin:10px;  }
.mt_10 { margin-top:10px;  }
.mr_10 { margin-right:10px;  }
.mb_10 { margin-bottom:10px;  }
.ml_10 { margin-left:10px;  }
.mt_5 { margin-top:5px;  }
.mr_5 { margin-right:5px;  }
.mb_5 { margin-bottom:5px;  }
.ml_5 { margin-left:5px;  }
.p_5 { padding:5px;  }
.p_10 { padding:10px;  }
.pt_10 { padding-top:10px;  }
.pr_10 { padding-right:10px;  }
.pb_10 { padding-bottom:10px;  }
.pl_10 { padding-left:10px;  }
.pt_5 { padding-top:5px;  }
.pr_5 { padding-right:5px;  }
.pb_5 { padding-bottom:5px;  }
.pl_5 { padding-left:5px;  }
.center{ margin-left:auto; margin-right:auto;}
.tl{ text-align:left;}
.more{ float:right; font-size:12px; width:50px;}

/*-------3-27 考试页面---------*/
.exam_bj{ background: #dfdfdf;}
.exam_top{ background: #fafafa; border-bottom: 1px solid #d1d1d1; padding-top: 10px; padding-bottom: 10px; position: fixed; width: 100%; top: 0; z-index: 999; font-size: 14px; box-shadow: 0px 0px 5px #888888; line-height: 42px;}
.exam_top .time{ font-size: 20px; color: #ff0000; vertical-align: middle;}
.exam_top .green{ font-size: 20px; color: #009944; vertical-align: middle;}
.exam_top img{ vertical-align: middle;}
/* .exam_main{ margin-top: 80px;} */
.exam_page{ margin: 0 auto; background: #ffffff; min-height: 400px; border: 1px solid #e8e8e8; margin-bottom: 20px; }
.exam_page_top{border-bottom: 1px solid #e8e8e8; background: #fafafa; padding: 15px 30px; font-size: 14px; line-height: 24px; color: #666;}
.exam_page_h1{ font-size: 30px; text-align: center; line-height: 70px; margin-top: 10px;}
.exam_page_block{ border: 1px solid #dddddd; border-top: 3px solid #dddddd; font-size: 14px; margin-left: 20px; margin-right: 20px; margin-bottom: 20px; padding:10px 30px; }
.exam_page_block_table td{ padding: 5px 3px; }
.exam_page_block_table .text-right{ color: #999;}
.exam_page_h2{ line-height: 40px; font-size: 14px; margin-left: 25px; color: #999;}
.exam_page_h2 .glyphicon{font-size: 22px; vertical-align: middle; }
.exam_page_h2 .red{ display: inline; font-size: 18px; }
.exam_one_question{ margin-bottom: 30px; }
.exam_one_question .exam_answer{ margin-left: 20px;}
.exam_one_question .exam_analysis .score{ text-align: right;}
.exam_one_question .exam_analysis .main{ background: #ebebeb; padding: 5px 15px;}
.exam_one_question .exam_analysis .green{ color: #009944; font-size: 18px;}
.exam_one_question .exam_analysis .red{ color: red; font-size: 18px;}
.exam_one_question .line_input{ border: none; border-bottom: 1px solid #cccccc; width: 120px; padding-left: 10px; font-size: 16px;}
.exam_one_question .exam_answer textarea{ resize: vertical; min-height: 80px; }

.exam_map{ position: fixed; top:80px; width: 170px; text-align: center;}
.exam_map .title{background: #616161;  font-size: 18px; font-weight: bold; color: #ffffff; line-height: 50px;}
.exam_map .main{ border: 1px solid #eaeaea; background: #ffffff;  padding: 5px;}
.exam_map .main li a{ line-height: 40px; margin-bottom: 5px; background: #f2f2f2; display: block; font-size: 14px;}
.exam_map .main li a:hover { text-decoration: none; background: #89b9df; color: #fff;}