body {
  width: 100%;
  min-width: 1357px;
  height: 100%;
  position: absolute;
  /* background-image: url('./img/1.jpg'); */

  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
}
.content {
            color: #ffffff;
            font-size: 40px;
        }
.bg {
          background: url('./img/1.jpg');
          z-index: -1;
          height:600px;
          text-align: center;
          line-height: 600px;
      }
.bg-blur {
           float: left;
           width: 100%;

           background-repeat: no-repeat;
           background-position: center;
           background-size: cover;
           -webkit-filter: blur(15px);
           -moz-filter: blur(15px);
           -o-filter: blur(15px);
           -ms-filter: blur(15px);
           filter: blur(15px);
       }
       /* .content-front {
                position:absolute;
                left: 10px;
                right: 10px;
                height:600px;
                line-height: 600px;
                text-align: center;
              } */
              .content-front{
                        width: 200px;
                        height: 200px;
                        background: url('./img/2.jpg');
                        position:absolute;
                        z-index: 99;
                        animation:myfirst 1s;
                        -webkit-animation:myfirst 1s;
                        animation-fill-mode: forwards;/*当动画完成时，动画会停留在最后一帧。*/
                        overflow: hidden;
                    }
                    @-webkit-keyframes myfirst /* Safari and Chrome */
                    {
                        0%   {height: 10px}
                        15%  {height:25px;bottom:50%;}
                        25%  {height:50px;bottom:50%;}
                        50%  {height:100px;bottom:50%;}
                        60%  {height:120px;bottom:50%;}
                        75%  {height:160px; bottom:50%;}
                        100% {height:200px;bottom:50%;
                    }
                    #cover{
                        position:absolute;left:0px;top:0px;
                        background:rgba(0, 0, 0, 0.4);
                        width:100%;  /*宽度设置为100%，这样才能使隐藏背景层覆盖原页面*/
                        height:100%;
                        filter:alpha(opacity=60);  /*设置透明度为60%*/
                        opacity:0.6;  /*非IE浏览器下设置透明度为60%*/
                        display:none;
                        z-Index:999;
                    }
                    #modal{
                        position:absolute;
                        width:500px;
                        height:300px;
                        top:50%;
                        left:50%;
                        background-color:#fff;
                        display:none;
                        cursor:pointer;
                        z-Index:9999;
                    }
