* {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

/* 内容部分 */
.mark-content {
    overflow: auto;
    height: calc(100% - 50px);
} .mark-content::after {
    height: 50px;
}

/* 底部按钮 */
.mark-footer {
    height: 50px;
    line-height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #ccc;
}

.block_title {
    background: url('../res/titleline_04.jpg') repeat-x bottom;
    height: 40px;
    line-height: 40px;
    position: relative;
}

.block_title .name {
    background: url('../res/titleline_04.jpg') repeat-x bottom;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #0073aa;
}

.form-group textarea {
    margin-bottom: 10px;
    resize: vertical;
}