<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<p class="text-muted">
				白色背景上使用浅灰字体是个淡化文本的好方法，那是因为降低了字体与背景的对比度。 但灰色字体并不适用于彩色背景。
			</p>
			<p class="text-primary">
				白色背景上使用浅灰字体是个淡化文本的好方法，那是因为降低了字体与背景的对比度。 但灰色字体并不适用于彩色背景。
			</p>
			<p class="text-success">
				白色背景上使用浅灰字体是个淡化文本的好方法，那是因为降低了字体与背景的对比度。 但灰色字体并不适用于彩色背景。
			</p>
			<p class="text-info">
				白色背景上使用浅灰字体是个淡化文本的好方法，那是因为降低了字体与背景的对比度。 但灰色字体并不适用于彩色背景。
			</p>
			<p class="text-warning">
				白色背景上使用浅灰字体是个淡化文本的好方法，那是因为降低了字体与背景的对比度。 但灰色字体并不适用于彩色背景。
			</p>
			<p class="text-danger">
				白色背景上使用浅灰字体是个淡化文本的好方法，那是因为降低了字体与背景的对比度。 但灰色字体并不适用于彩色背景。
			</p>
			<p class="text-muted">
				白色背景上使用浅灰字体是个淡化文本的好方法，那是因为降低了字体与背景的对比度。 但灰色字体并不适用于彩色背景。
			</p>
			<p class="text-primary">
				白色背景上使用浅灰字体是个淡化文本的好方法，那是因为降低了字体与背景的对比度。 但灰色字体并不适用于彩色背景。
			</p>
			<p class="text-success">
				白色背景上使用浅灰字体是个淡化文本的好方法，那是因为降低了字体与背景的对比度。 但灰色字体并不适用于彩色背景。
			</p>
			<p class="text-info">
				白色背景上使用浅灰字体是个淡化文本的好方法，那是因为降低了字体与背景的对比度。 但灰色字体并不适用于彩色背景。
			</p>
			<p class="text-warning">
				白色背景上使用浅灰字体是个淡化文本的好方法，那是因为降低了字体与背景的对比度。 但灰色字体并不适用于彩色背景。
			</p>
			<p class="text-danger">
				白色背景上使用浅灰字体是个淡化文本的好方法，那是因为降低了字体与背景的对比度。 但灰色字体并不适用于彩色背景。
			</p>
			<p class="text-muted">
				白色背景上使用浅灰字体是个淡化文本的好方法，那是因为降低了字体与背景的对比度。 但灰色字体并不适用于彩色背景。
			</p>
			<p class="text-primary">
				白色背景上使用浅灰字体是个淡化文本的好方法，那是因为降低了字体与背景的对比度。 但灰色字体并不适用于彩色背景。
			</p>
			<p class="text-success">
				白色背景上使用浅灰字体是个淡化文本的好方法，那是因为降低了字体与背景的对比度。 但灰色字体并不适用于彩色背景。
			</p>
			<p class="text-info">
				白色背景上使用浅灰字体是个淡化文本的好方法，那是因为降低了字体与背景的对比度。 但灰色字体并不适用于彩色背景。
			</p>
			<p class="text-warning">
				白色背景上使用浅灰字体是个淡化文本的好方法，那是因为降低了字体与背景的对比度。 但灰色字体并不适用于彩色背景。
			</p>
			<p class="text-danger">
				白色背景上使用浅灰字体是个淡化文本的好方法，那是因为降低了字体与背景的对比度。 但灰色字体并不适用于彩色背景。
			</p>
			<p class="text-muted">
				白色背景上使用浅灰字体是个淡化文本的好方法，那是因为降低了字体与背景的对比度。 但灰色字体并不适用于彩色背景。
			</p>
			<p class="text-primary">
				白色背景上使用浅灰字体是个淡化文本的好方法，那是因为降低了字体与背景的对比度。 但灰色字体并不适用于彩色背景。
			</p>
			<p class="text-success">
				白色背景上使用浅灰字体是个淡化文本的好方法，那是因为降低了字体与背景的对比度。 但灰色字体并不适用于彩色背景。
			</p>
			<p class="text-info">
				白色背景上使用浅灰字体是个淡化文本的好方法，那是因为降低了字体与背景的对比度。 但灰色字体并不适用于彩色背景。
			</p>
			<p class="text-warning">
				白色背景上使用浅灰字体是个淡化文本的好方法，那是因为降低了字体与背景的对比度。 但灰色字体并不适用于彩色背景。
			</p>
			<p class="text-danger">
				白色背景上使用浅灰字体是个淡化文本的好方法，那是因为降低了字体与背景的对比度。 但灰色字体并不适用于彩色背景。
			</p>
		</div>
	</div>
</div>




