@charset "utf-8";
/* CSS Document */
* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body{
    font-size: 12px;
    line-height: 25px;
    text-align:left;
    font-family: "微软雅黑", yahei;
    color:#404040;
    background:#ffffff;
    overflow: hidden;
}

.exam_bg {
    background-image: url(/static/images/index_bj.jpg);
    background-repeat: repeat;
}

/* 隐藏滚动条而嵌套的父元素 */
.hide-scroll {
    width: 90%;
    height: 80%;
    overflow: hidden;
    position: relative;
    top: 5%;
    left: 5%;
    background-image: url(/static/images/index_bj.jpg);
    border-radius: 10px;
}

/* 主体页面 */
.exam_enterance {
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow-y: auto;
    padding-bottom: 20px;
} .exam_enterance::-webkit-scrollbar {
    display: none;
}

/* 头部标题容器 */
.exam_header {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    position: relative;
    top: 20px;
} .exam_header_title {
    font-size: 24px;
    color: #404040;
}

/* 本次考试安排 */
.exam_info {
    position: relative;
    width: 80%;
    margin: 30px auto 10px auto;
    background: #ffffff;
    min-height: 74px;
}

/* 表格 */
.exam_table {
    text-align: center;
    font-size: 14px;
}

/* 历史考试信息容器 */
.exam_history {
    position: relative;
    width: 80%;
    margin: 10px auto 10px auto;
    background: #fff;
}

/* 考试须知 */
.exam_notes {
    width: 80%;
    height: 300px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 30px auto 10px auto;
    padding-bottom: 35px;
    overflow-y: auto;
} .exam_notes span {
    display: block;
    margin-top: 15px;
    text-align: center;
    font-size: 24px;
} .exam_notes p {
    font-size: 14px;
}

/* 开始考试按钮容器 */
.exam_start_box {
    width: 100%;
    height: 60px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #c7c7c7;
} .exam_start_btn {
    width: 100px;
    height: 40px;
    margin-top: 10px;
    background-color: #337ab7;
    border-color: #337ab7;
    color: #fff;
} .exam_start_btn:hover {
    color: #fff;
    background-color: #286090;
} .exam_start_btn:focus {
    color: #fff;
}

/* 禁用时的开始考试按钮 */
.exam_start_btn_disabled {
    width: 100px;
    height: 40px;
    margin-top: 10px;
    background-color: #fff;
    border-color: #ccc;
    color: #ccc !important;
    pointer-events: auto !important;
} .exam_start_btn_disabled span {
    color: #fff;
    background-color: #ccc;
    top: 0px !important;
    left: 2px;
    font-size: 8px !important;
    font-weight: 400 !important
}