@charset "utf-8";

.main_min_h{
	min-height:496px;
}

body{
	font-family:"Microsoft YaHei", '微软雅黑', '宋体';
	font-size:15px;
	
}

.color_black{
	color:#000;
}
.color_white{
	color:#fff;
}
.color_red{
	color:red;
}
.font-w-b{
	font-weight:bold;
}
.f_r{
	float:right;
}

.f_l{
	float:left;
}

.hidden_element{
	display:none;
}
/*
 *重新定义bootatrap的样式
 */
 .breadcrumb{
	 background-color:#1083dc  !important;
	 margin-bottom:0px !important;
 }
 .btn-primary.disabled{
    background:#096ec2;;
    font-weight:bold;
 }
 
 .margin_b_0{margin-bottom:0px;}
 .breadcrumb > li{
   text-shadow:0 0px 0 #fff;
 }

/**************************************/
.cursor_p{cursor:pointer}
.cursor_d{cursor:default !important;}
.a_t_d:hover{
	text-decoration:none;
}
.page_title_c{
	font-weight:bold;
	white-space:normal; 
    word-break : break-all; 
    word-wrap: break-word;
}
.bodyBackground{
	background:#f5f5f5;
}

.top_background{
	background:url(../../../image/personCenterNew/background-top.png) repeat-x
}
.mainBackground{
	background:#fff;
}

.min_h{
  min-height:420px;
}
.bottomClass{
	text-align:center;
	height:60px;
	background:#0C77CE;
	font-size:14px;
	color:#fff;
	line-height:60px !important;
	margin-bottom:0px;
}
.clr_n {clear:both;}
.archives_draft{
	margin-top:20px;
	padding-bottom:20px;
}
.draft{
	display:block;
	cursor:pointer;
	font-weight:initial;
}
li.user_item:hover{
	cursor:pointer;
}
.supervision_manage_li:hover{
	background:#4c9ed9;
	color:#000;
}

.draft-font-small{
	font-weight:initial;
	display:block;
	margin-top:5px;
}


.m_l_10{margin-left:10px}
.m_t_15{margin-top:15px}
.m_t_10{margin-top:10px}
.marginR_10{margin-right:10px}
.marginR_20{margin-right:20px;}
.text_align_r{text-align:right;padding-right:20px}
.p_l_r_20{
	padding-left:20px;
	padding-right:20px;
}
.p_t_15{
	padding-top:15px;
	 padding-bottom: 15px;
     min-height: 300px;
}
.p_t_b{
	padding-bottom:15px;
}
.plr{
	padding-left:10px;
	padding-right:10px;
}

.item{
	list-style-type:none;
	float:left;
	margin:5px;
	min-width:120px;
	background:#fafafa;
	color:#4e4e4e;
	font-weight:bold;
	padding-left:14px;
	padding-top:20px;
	padding-bottom:10px;
	border:1px solid #ddd;
}

.user_item{
	list-style-type:none;
	float:left;
	margin:5px;
	min-width:120px;
	height:auto;
	line-height:45px;
	text-align:center;
	background:#4C9ED9;
	color:#f5f5f5;
	font-weight:bold;
	padding-left:4px;
	padding-right:4px;
}

.archives_manage{
	margin-top:20px;
	padding-bottom:20px;
}
.item-Private{
	list-style-type:none;
	float:left;
	height:35px;
	line-height:35px;
	margin:5px;
}
.title_type{
	background:#f0f0f0;
	width:90%;
	height:40px;
	line-height:40px;
	margin:0px auto;
	color:#4e4e4e;
	font-weight:bold;
	padding-left:15px;
	font-size:15px;
	
}
.title_type_one{
	border-left:5px solid #64decf;
}
.title_type_two{
	border-left:5px solid #ffc76c;
}
.title_type_three{
	border-left:5px solid #cb93dd;
}
.title_type_four{
	border-left:5px solid #4c9ed9;
}
.main_ul{
	background:#f9f9f9;
	width:90%;
	padding-left:18px;
	margin:0px auto;
	font-size:14px;
	border:1px solid #ddd;
	border-top:0px;
}
.main_ul li{
	padding:4px;
	list-style-type:none;
	cursor:pointer;
}
.main_ul ul{
	margin-left:0px;
}
.li_disc{
	display:inline-block;
	width:8px;
	height:8px;
	background:#ff7d49;
	margin-right:8px;
	 border-radius:10px;  
	
}
.li_disc_one{
	background:#64decf;
}
.li_disc_two{
	background:#ffc76c;
}
.li_disc_three{
	background:#cb93dd;
}
.li_disc_four{
	background:#4c9ed9;
}
.archives_manage_li{
	cursor:pointer;
	
}
.archives_manage_li:hover{
	/*background:#4c9ed9;*/
	background:#ddd;
	color:#000;
}
.spanSelect{
	float:right !important;
	margin-right:20px;
	display:inline-block !important;
	width:auto  !important;
	min-height:auto  !important;
	border:1px solid #f0f0f0;
	color:#000;
	padding-left:4px;
	padding-right:4px;
}
.main_ul_new{
	background:#f9f9f9;
	width:90%;
	padding-left:18px;
	margin:0px auto;
	font-size:14px;
	padding-bottom:15px;
}

.main_ul_new_superision{
	background:#f9f9f9;
	width:90%;
	padding-left:18px;
	margin:0px auto;
	font-size:14px;
	padding-bottom:15px;
}
.main_ul_new_superision ul{
	margin-left:0px;
	margin-left:-18px;
}
.main_ul_new_superision li{
	padding:3px;
	color:#ef8142;
	list-style-type:none;
	cursor:pointer;
}


.main_ul_new ul{
	margin-left:0px;
	margin-left:-18px;
}
.main_ul_new li{
	padding:6px;
	color:#ef8142;
	list-style-type:none;
	border-bottom:1px dashed #f0f0f0;
	cursor:pointer;
}
.doingClass{
	margin-left:0px;
	padding-top: 10px;
}
.doingClass ul{
	margin-left:10px;
}
.doingClass li{
	float:left;
	list-style-type:none;
	width:100%;
}
.doingClass > li{
	border-bottom:1px dashed  #f5f5f5;
	margin-bottom:20px;
}
.doingClass_two{
	display:inline-block;
	width:90%;
}
.doingClass_two li{
	margin-top:4px;
	margin-bottom:4px;
	
}
.doingClass_span{
	margin-right:8px;
	width:auto !important;
	min-height:auto !important;
}


.v_m{
	vertical-align:middle;
}

.search{
	width:676px; 
	margin:0px auto;
}
.min_height{
	min-height:50px;
	}
.s_btn{
	width:100px;
	height:36px;
	color:white;
	font-size:15px;
	letter-spacing:1px;
	background:#3385ff;
	border:1px solid #2d78f4;
	outline:medium;
	
}
.s_ipt_wr{
	height:34px;
	border:1px solid #b6b6b6;
	background:#fff;
	display:inline-block;
	vertical-align:top;
	width:539px;
	margin-right:-4px;
	border-right-width:0;
	border-color:#b8b8b8 transparent #ccc #b8b8b8;
	overflow:hidden;
}
.s_ipt{
	width:527px;
	height:26px !important;
	font:16px/18px arial;
	padding:0;
	background:transparent;
	border:0px !important;
	outline:0;
}
.fix-layout{
	position:fixed;
	right:20px;
	bottom:20px;
	z-index:20;
	width:45px;
}
.gb-operation-area{
	width:45px;
	border:#d9d9d9 1px solid;
	
}
.gb-operation-button{
	position:relative;
	height:45px;
	display:block;
	text-decoration:none;
	overflow:hidden;
	background-color:#fafafa;
	color:#8c8c8c;
	
}

.gb-operation-icon{
	background-image:url(../../../image/personCenterNew/icenter.32-adg160506170559.png);
	background-position:-155px -32px;
	display:block;
	margin:10px auto 0;
	width:25px;
	height:25px;
	font-style:normal;
	font-weight:normal;
	color:#8c8c8c;
	
}
.gb-operation-text{
	display:none;
	text-align:center;
	margin-top:13px;
	text-decoration:none !important;
	display:block;
}

.nav_user_add{
	border-bottom:1px solid #5fa1d7;
	margin-left:0px;
}
.nav_user_add li{
	display:inline-block;
	width:100px;
	height:30px;
	background:#f1f0ee;
	text-align:center;
	line-height:30px;
}

.tab_new_class{
	height:25px !important;
	line-height:25px !important;
	margin-top:5px;
}
.tab_new_class_zh{
		height:25px !important;
	line-height:25px !important;
	margin-top:5px;
}

.element_hide{
	display:none ;
}

.checked_class{
	background:#5fa1d7 !important;
	color:#f5f5f5 !important;
	font-weight:bold;
	border-radius:4px 4px 0px 0px;
}
.s_btn{
	padding-left:4px;
	padding-right:4px;
}


/**/
.popover {
     position: absolute;
      top: 0;
      left: 0;
      z-index: 1060;
      display: none;
      max-width: 2000px;
      padding: 1px;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
     font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.42857143;
      text-align: left;
      text-align: start;
      text-decoration: none;
      text-shadow: none;
      text-transform: none;
      letter-spacing: normal;
      word-break: normal;
      word-spacing: normal;
      word-wrap: normal;
      white-space: normal;
      background-color: #fff;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      border: 1px solid #ccc;
      border: 1px solid rgba(0,0,0,.2);
      border-radius: 6px;
      -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
      box-shadow: 0 5px 10px rgba(0,0,0,.2);
      line-break: auto;
}
#optionsRadios2{
	margin-left:0px;
}
.radio{
	padding-left:5px;
}
.radio_m_l_r{
	margin-left:10px;
	margin-right:10px;
}

.btn_Class{
	display:inline-block;
	width:100px;
	height:30px;
	line-height:30px;
	background:#dbeaf9;
	text-align:center;
	margin:5px;
	cursor:pointer;
	
}

.tab_there{
	cursor:pointer;
}

.tab_new_class{
	cursor:pointer;
}

.tab_new_class_zh{
	cursor:pointer;
}

.doingClass li{
	cursor:pointer;
	margin-bottom: 8px;
}
.doingClass li:hover {
	background:#f5f5f5;
}
.btn_border_class{
	border-bottom:1px solid rgb(95, 161, 215);
}
.btn{
	/* border-radius:4px 4px 0px 0px; */
}
.drag_info_div_c{
	display:inline-block;
	margin-right:10px;
	margin-bottom:7px;
}

.depositFile{float:right;margin-right:20px;}
.main_ul{
	height:200px;
	overflow-y:auto; 
}
.module_name{
	height:200px;
	overflow-y:auto; 
}

.color_orange{
	color:rgb(255, 199, 108) !important;
}



.margin-b-0{
	margin-bottom:0!important;
}

a:hover, a:focus {
    color: transparent;
    text-decoration: none;
}